<template>
  <dashboard-layout :link="1">
    <div v-if="isLoading" class="py-5 text-center">
      <vue-loaders class="py-5" name="ball-beat" color="#fa8357" scale="2"></vue-loaders>
    </div>
    <div v-else class="mb-4">
      <div class="m-2">
        <h3 class="text-dark my-2">Liste des utilisateurs</h3>
        <!-- <h3 v-else class="text-dark my-2">Liste des {{userType +'s'}}</h3> -->
        <div class="card mt-4 col-sm-12">
          <div class="row my-4 mx-2">
            <div class="fa-pull-left col-sm-4 form-group mt-2">
              <label class="mt-2 mr-2 text-dark col-sm-3" for="">Show : </label>
              <select class="ml-2 myform p-1 form-control-min col-sm-3" v-on:change="doPaginate" v-model="paginate">
                <option selected value="5">5</option>
                <option v-if="totalDatabase>5" value="10">10</option>
                <option v-if="totalDatabase>10" value="15">15</option>
                <option v-if="totalDatabase>15" value="20">20</option>
                <option v-if="totalDatabase>20" value="25">25</option>
                <option v-if="totalDatabase>25" value="50">50</option>
              </select>
            </div>
            <div class="col-sm-4 mt-2">
              <div class="input-group md-form form-sm form-2 pl-0">
                <input class="form-control form-control-min my-0 py-1 amber-border" v-model="searchtext"
                  type="search" placeholder="Search by firstname, lastname, email, ..." aria-label="Search">
                <div v-if="searchtext.length>2" class="btn bg-ejima c-pointer input-group-append py-2 px-3"
                  @click="loadData(curNumPage)">
                  <span class="" id="basic-text1">
                    <i class="fa fa-search " aria-hidden="true"></i>
                  </span>
                </div>
                <div v-else class="btn bg-outline-ejima c-pointer input-group-append py-2 px-3">
                  <span class="" id="basic-text1">
                    <i class="fa fa-search " aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mt-2">
              <span @click="loadData(0)" class="btn bg-ejima2 fa-pull-right">
                <i class="fa fa-refresh mr-2"></i>
                Refresh
              </span>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Status</th>
                  <!-- <th class="text-center">Action</th> -->
                </tr>              
              </thead>
              <tbody v-if="ressources && ressources.length > 0">
                <tr v-for="(user, i) in ressources" :key="i" class="">
                  <td>
                    <img src="../../assets/img/users_avatar.png" alt="user avatar" class="img-fluid users-avatar">
                  </td>
                  <td>
                    <span class="text-capitalize mr-2">{{user.firstname}} </span>
                    <span class="text-uppercase">{{user.lastname}}</span>
                  </td>
                  <td class="text-lowercase">{{ user.email }}</td>
                  <td :class="user.emailValidated && user.emailValidated == true ? 'text-primary ' : ' text-secondary2 ' ">
                    {{ user.emailValidated && user.emailValidated == true ? 'Confirmé' : 'Non confirmé' }}
                  </td>
                  <!-- <td class="text-center">
                    <span class="p-2 btn-edit" title="modifier" @click.stop="goToUpdate(i)">
                      <i class="fa text-white fa-pencil"></i>
                    </span>
                    <span></span>
                    <span class="m-2 p-2 btn-delete" title="supprimer">
                      <i class="fa fa-trash"></i>
                    </span>
                  </td> -->
                </tr>
              </tbody>
            </table>
            <div v-if="ressources && ressources.length == 0">
              <h3 class="text-primary2 mt-5 text-center">No match found</h3>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-5 mx-3">
            <p>Page {{curNumPage+1}} sur {{numPage}} </p>
            <nav class=''>
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <span v-if="curNumPage>0" class="page-link c-pointer text-primary2" aria-label="Previous" @click="loadData(curNumPage-1)">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </span>
                  <span v-else class="page-link text-primary2" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </span>
                </li>
                <li class="page-item" v-for="(element, i) in numPage" :key="i">
                  <span v-if="curNumPage==i" :class="(curNumPage==i ? ' active2 text-white ' : ' text-dark') +' page-link c-pointer'" >{{i+1}}</span>
                  <span v-else :class="(curNumPage==i ? ' active2 text-white ' : ' text-dark') +' page-link c-pointer'" @click="loadData(i)" >{{i+1}}</span>
                </li>
                <li class="page-item">
                  <span v-if="numPage>curNumPage+1" class="page-link text-primary2 c-pointer" aria-label="Next" @click="loadData(curNumPage+1)">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </span>
                  <span v-else class="page-link text-primary2" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </dashboard-layout>
</template>

<script lang="ts">

export default {
  head() {
    return {
      // title: "acma",
    };
  },
  data() {
    return {
      ressources: [],
      userType: 'all',
      searchUser: '',
      searchtext: '',
      editing: false,
      newUser: {},
      errorMessage: '',
      curUser: [],
      isLoading: false,
      password: '',

      paginate: 5,
      showPaginate: false,
      numPage: 1,
      curNumPage: 0,
      totalDatabase: 1,
      checkCreate: false,
      checkUpdate: false,
      inputPwd : true,
      inputEditPwd: true,

    };
  },
  mounted() {
    this.loadData(this.curNumPage);
  },
  methods: {
    loadData(index){
      this.isLoading = true;

      const query = {
        options: {
        },
        filter: {
          text: this.searchtext,
        },
        perPage: this.paginate,
        page: index,
        sort: {
          "createdAt": -1
        }
      };

      this.$service.list('users', query, (data) => {
        if(data.status == 200){
          this.isLoading = false;
          this.curNumPage = index;

          this.users = data.users;
          this.totalDatabase = data.count;
          this.ressources = data.users;

          this.numPage = 1;
          // Traitement pagination
          if(this.totalDatabase > this.paginate){
            this.numPage = Math.trunc(this.totalDatabase / this.paginate) ;

            if(this.numPage < (this.totalDatabase / this.paginate)){
              this.numPage +=1;
            }
          }
        } else {
          console.log("Data ", data);
        }

      });

    },
    register(){

    },
    doPaginate(){
      this.curNumPage=0;
      this.numPage = Math.trunc(this.totalDatabase / this.paginate) ;

      if(this.numPage < this.totalDatabase / this.paginate){
        this.numPage +=1;
      }
      this.loadData(this.curNumPage);
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
